<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Angular Friends</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller='friendCtrl'>
  <h1>The <strong>facebook</strong> Friend Machine</h1>

  <div class="friends">
    <form class="form-inline searchForm" role="form">
      <div class="form-group">

        <input class="form-control" ng-model='obj.name' placeholder="Search Name">
        <input class="form-control" ng-model='obj.location.state' placeholder="Search State">

        <select class="input-medium">
          <option>Name</option>
          <option>#Friends</option>
          <option>City</option>
          <option>State</option>
          <option>Country</option>
        </select>

        <select class="input-medium">
          <option value="-" ng-model='Descending(friend)'>Descending</option>
          <option value="+" ng-model='Descending(friend)'>Ascending</option>
        </select>
      </div>
    </form>

    <ul>
      <li class='friend' ng-repeat="friend in friends | filter: obj | orderBy: friend ">
        <img class="profile-pic" ng-src='{{friend.pic_square}}'>
        <h3>{{friend.name}}</h3>
        <div class="location">
            Location: {{friend.location.city}}, {{friend.location.state}}, {{friend.location.country}},
        </div>
        <div class="status">
            Status: {{friend.status.message}}
        </div>
        <div class="num-friends">
            Friends: {{friend.friend_count}}
        </div>
      </li>
    </ul>
  </div>




  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
  <!-- your scripts here -->
  <script src="app.js" charset="utf-8"></script>
  <script src="FriendsCtrl.js" charset="utf-8"></script>
</body>



</script>

</script>


</html>
